/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
element { -ms-overflow-style: none; }
element::-webkit-scrollbar { width: 0 !important }
div#box{
    height:200px;
    width:300px;     
    overflow:hidden;
    border:1px solid black;
    padding: 10px;
}

div#content{
    height:200px;
    width:326px;
    /*
     * Uncomment to see scrollbar
    width:300px;
    */
    overflow:auto;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/opensans/OpenSans-Italic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtrabold';
  src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.skew {
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  transform: skewX(-25deg);
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  backface-visibility: hidden;
}
.skewrev {
  -webkit-transform: skewX(25deg);
  -moz-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  -o-transform: skewX(25deg);
  transform: skewX(25deg);
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  backface-visibility: hidden;
}
@font-face {
  font-family: 'weather';
  src: url('../fonts/artill_clean_icons-webfont.eot');
  src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/artill_clean_icons-webfont.woff') format('woff'), url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: weather;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}
.icon-0:before {
  content: ":";
}
.icon-1:before {
  content: "p";
}
.icon-2:before {
  content: "S";
}
.icon-3:before {
  content: "Q";
}
.icon-4:before {
  content: "S";
}
.icon-5:before {
  content: "W";
}
.icon-6:before {
  content: "W";
}
.icon-7:before {
  content: "W";
}
.icon-8:before {
  content: "W";
}
.icon-9:before {
  content: "I";
}
.icon-10:before {
  content: "W";
}
.icon-11:before {
  content: "I";
}
.icon-12:before {
  content: "I";
}
.icon-13:before {
  content: "I";
}
.icon-14:before {
  content: "I";
}
.icon-15:before {
  content: "W";
}
.icon-16:before {
  content: "I";
}
.icon-17:before {
  content: "W";
}
.icon-18:before {
  content: "U";
}
.icon-19:before {
  content: "Z";
}
.icon-20:before {
  content: "Z";
}
.icon-21:before {
  content: "Z";
}
.icon-22:before {
  content: "Z";
}
.icon-23:before {
  content: "Z";
}
.icon-24:before {
  content: "E";
}
.icon-25:before {
  content: "E";
}
.icon-26:before {
  content: "3";
}
.icon-27:before {
  content: "a";
}
.icon-28:before {
  content: "A";
}
.icon-29:before {
  content: "a";
}
.icon-30:before {
  content: "A";
}
.icon-31:before {
  content: "6";
}
.icon-32:before {
  content: "1";
}
.icon-33:before {
  content: "6";
}
.icon-34:before {
  content: "1";
}
.icon-35:before {
  content: "W";
}
.icon-36:before {
  content: "1";
}
.icon-37:before {
  content: "S";
}
.icon-38:before {
  content: "S";
}
.icon-39:before {
  content: "S";
}
.icon-40:before {
  content: "M";
}
.icon-41:before {
  content: "W";
}
.icon-42:before {
  content: "I";
}
.icon-43:before {
  content: "W";
}
.icon-44:before {
  content: "a";
}
.icon-45:before {
  content: "S";
}
.icon-46:before {
  content: "U";
}
.icon-47:before {
  content: "S";
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
.font-thin {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
}
.font-regular {
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}
.font-semibold {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
}
.font-bold {
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
}
hr {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
}
body {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
  font-size: 1.75vh;
  background-color: #2e2931;
  color: white;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
h1,
h2,
h3 {
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}
.wrapper {
  width: 100%;
  height: 720px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.onerow {
  width: 100%;
}
.kiri,
.kanan {
  width: 49%;
  height: 86%;
}
.judul-section {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: yellow;
}
#judul {
  background-color: #b5170b;
  text-align: center;
  width: 100%;
}
#judul h1 {
  font-size: 4vh;
  margin: 0;
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}
#judul h2 {
  font-size: 3.3vh;
  margin: 0;
}
#judul #logo {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 62%;
  height: 100%;
  text-align: center;
}
#judul #logo .logo-image {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  width: 90%;
}
.table-custom {
  font-size: 1.4vw;
}
.table-custom .no,
.table-custom .kegiatan,
.table-custom .tanggal,
.table-custom .jam,
.table-custom .gambar,
.table-custom .tempat,
.table-custom .kegiatan1,
.table-custom .tanggal1,
.table-custom .jam1,
.table-custom .gambar1,
.table-custom .tempat1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
}
.table-custom .no {
  width: 5%;
  text-align: center;
}
.table-custom .kegiatan {
  width: 26%;
}
.table-custom .tanggal {
  width: 10%;
  text-align: center;
}
.table-custom .jam {
  width: 10%;
  text-align: center;
}
.table-custom .tempat {
  width: 20%;
}
.table-custom .gambar {
  width: 25%;
}
.table-custom .kegiatan1 {
  width: 26%;
}
.table-custom .tanggal1 {
  width: 15%;
  text-align: center;
}
.table-custom .jam1 {
  width: 15%;
  text-align: center;
}
.table-custom .tempat1 {
  width: 35%;
}
.table-custom .satu {
  text-align: center;
  width: 100%;
  background-color: #da4648;
  color: white;
}
.table-custom header {
  background-color: #f5c774;
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
  color: #2e2931;
  width: 100%;
}
.table-custom header > div {
  padding: 1.5vh 1vh;
}
.table-custom main {
  width: 100%;
  overflow: hidden;
}
.table-custom main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.table-custom main ul li {
  margin: 0;
  padding: 0;
}
.table-custom .row {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
}
.table-custom .row > div {
  padding: 1.5vh 1vh;
}
.table-custom .row.odd {
  background-color: #fae4bb;
  color: #222;
}
.table-custom .row.even {
  background-color: #fef7eb;
  color: #222;
}
.table-custom.dua main {
  height: 19vh;
}
footer {
  width: 100vw;
  height: 4.5vh;
  *zoom: 1;
}
footer:before,
footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  display: table;
  content: "";
  line-height: 0;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
#copyright {
  width: 14%;
  background-color: #981309;
  text-align: center;
  float: left;
}
#copyright p{
  font-size: .87em;
  line-height: 1.6em;
  margin: 0;
  padding: 0.62em 0;
}
#running {
  width: 100%;
  background-color: #b5170b;
  position: relative;
  z-index: 1;
  font-size: 1em;
  float: left;
}
#running p {
  color: white;
  position: relative;
  margin: 0;
  margin-right: 2em;
  padding: .8em 0;
  padding-left: 2em;
  line-height: 1em;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  text-rendering: optimizeLegibility;
  z-index: 1;
}
#running p:before {
  content: url('../img/running.png');
  position: absolute;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  width: 25px;
  height: 25px;
  margin-right: 20px;
  top: 4px;
  left: -10px;
  overflow: hidden;
}
#weather {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 18%;
  height: 100%;
  background-color: #981309;
  font-size: 3.6em;
}
#weather p {
  font-family: "OpenSansSemibold", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 0px;
  line-height: 1em;
}
#weather i {
  font-size: 15vh;
  line-height: 0;
  color: #f5c774;
}
#sekarang {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 20%;
  height: 100%;
  background-color: #851108;
  font-size: 1.5em;
}
#sekarang .hari-ini {
}
#sekarang .hari-ini #hari {
  margin-right: .5em;
}
#sekarang #waktu {
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
  font-size: 5vh;
  letter-spacing: 2px;
}
#sekarang #waktu .wilayah {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
  font-size: 4vh;
  letter-spacing: 0;
}